{% extends 'base.html.twig' %}

{% block title %}Taxeren
{% endblock %}

{% block body %}
	<main>
		<article class="taxeren">
			<div class="container section_header">
				<div class="row">
					<div class="col-md-12">
						<h2>Taxeren</h2>
					</div>
				</div>
			</div>
			<div class="container section_content">
				<div class="row">
					<div class="col-md-6">
						<p>Heeft een taxatierapport nodig voor het verkrijgen van een hypotheek voor een nieuwe of bestaande woning, voor een overbrugging, een verbouwing van je bestaande woning of het oversluiten van je hypotheek, dan heb je een gevalideerd taxatierapport nodig.</p>
						<p>Als register-taxateur Wonen kunt u bij mij terecht voor alle eerdergenoemde taxatierapporten. Mijn werkgebied is gelegen in de omgeving van Monnickendam. Volendam, Edam, Purmerend, Broek in Waterland, maar ook Amsterdam-Noord behoort hiertoe.</p>
						<p>Vraag vrijblijvend een offerte aan voor een gevalideerd taxatierapport. U heeft binnen 4 dagen na de dag van opname van uw woning uw taxatierapport gevalideerd in huis.</p>
					</div>
					<div class="col-md-6">
						<img src={{ asset('images/Foto-Berry.avif') }} alt="Makelaar Verwijk">
					</div>
				</div>
			</div>
		</article>
	</main>
{% endblock %}
