{% extends 'base.html.twig' %}

{% block title %}Aankoop{% endblock %}

{% block body %}
	<main>
		<article class="aankoop">
			<div class="container section_header">
				<div class="row">
					<div class="col-md-12">
						<h2>Aankoop</h2>
					</div>
				</div>
			</div>
			<div class="container section_content">
				<div class="row">
					<div class="col-md-6">
						<p>Een huis kopen is een belangrijke en grote beslissing in je leven. Laat mij je ontzorgen en je begeleiden naar een verantwoorde aankoop. Ik ga mee naar de bezichtigingen van de woningen die je hebt uitgezocht. Daarna bemiddel ik bij de daadwerkelijke aankoop en begeleidt je tot je uiteindelijk in de woning gaat wonen.</p>
                        <p>Vraag om een vrijblijvende offerte voor bemiddeling bij aankoop van een woning.</p>
					</div>
					<div class="col-md-6">
						<img src={{ asset('images/Foto-Berry.avif') }} alt="Makelaar Verwijk">
					</div>
				</div>
			</div>
		</article>
	</main>
{% endblock %}
